.bill__block {
  margin-top: 10px;
  background-color: rgb(237, 235, 235);
  padding: 15px;
}

.bill__text {
  margin: 0 0 10px 0;
}

.bill__block__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.bill__price__block {
  font-size: 10px;
}

.bill__price__noDiscount {
  text-align: right;
}
